@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
textarea,
select {
    outline: none;
}

%text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%moretext {
    display: box;
    display: -webkit-box;
    word-break: break-all;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin num($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex($j:space-between) {
    display: flex;
    display: -webkit-flex;
    justify-content: $j;
    -webkit-justify-content: $j;
    align-items: center;
    -webkit-align-items: center;
}

html,
body {
    @include num(100%, 100%);
}

.wrap {
    @include num(100%, 100%);
    display: flex;
    flex-direction: column;
    font-size: .32rem;
}

header {
    @include num(100%, 1rem);
    @include flex();
    padding: 0 .15rem;
    .inputs {
        flex: 1;
        padding: 0 .2rem;
        input {
            @include num(100%, .6rem);
            border-radius: .3rem;
            border: none;
            background: #EFF2F6;
        }
    }
    a {
        color: #303741;
        margin: 0 .15rem;
        i.icon {
            font-size: .34rem;
        }
    }
}

section {
    flex: 1;
    overflow-y: scroll;
    .scroll {
        .nav {
            @include num(100%, 1rem);
            @include flex(space-around);
            a {
                span {
                    font-size: .26rem;
                    color: #333333;
                }
                i.icon {
                    font-size: .28rem;
                    color: #333333;
                }
                button {
                    background: none;
                    border: 1px solid #E5E5E5;
                    padding: .05rem .08rem;
                }
            }
        }
        .box {
            @include num(100%, auto);
            div {
                div {
                    ul {
                        li {
                            @include num(100%, 2.5rem);
                            dl {
                                @include num(100%, 1.5rem);
                                @include flex();
                                dt {
                                    flex: 3;
                                    padding: 0 .15rem;
                                    img {
                                        @include num(100%, auto);
                                    }
                                }
                                dd {
                                    flex: 7;
                                    h2 {
                                        font-size: .34rem;
                                        font-weight: 400;
                                        color: #434643;
                                    }
                                    h6 {
                                        font-weight: 400;
                                        line-height: 3;
                                        @include flex();
                                        a {
                                            border: 1px solid #FF5B35;
                                            color: #FF5B35;
                                            border-radius: .1rem;
                                            padding: 0 .03rem;
                                        }
                                    }
                                    h5 {
                                        font-weight: 400;
                                        a {
                                            font-size: .32rem;
                                            color: #FF5B35;
                                            span {
                                                font-size: .28rem;
                                            }
                                        }
                                    }
                                }
                            }
                            p {
                                padding-left: 32%;
                                font-size: .28rem;
                                line-height: 1rem;
                                color: #757F8A;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    @include num(100%, 1rem);
    @include flex(space-around);
    a {
        @include flex(space-around);
        flex-direction: column;
        color: #5F6670;
        &.active {
            color: #22AC38;
        }
        i.icon {
            font-size: .34rem;
        }
        span {
            font-size: .3rem;
        }
    }
}